<html>
<head>
    <title>Welcome to test Spring Boot!</title>
</head>
<body>
    Welcome to test Spring Boot!
    <p></p>
    <a href="/test">/test</a>-test Spring Boot
    <p></p>
    <a href="/time">/time</a>-output time
    <p></p>
    <a href="/date">/date</a>-output date
    <p></p>
    <a href="/input">/input</a>-input data (there is necessary to input data and click button)
    <p></p>
    <a href="/say_hello">/say_hello</a>-input name for hello (there is necessary to go to form,input name and click button)
</body>
</html>
