<html>
<head>
    <title>Input</title>
</head>
<body>
    <h1>Fill one of text fields and click one of buttons what opposite the filled text field.</h1>
    <form action="/entered_get" method="get">
        <label>
            data:
            <input type="text" required name="data"/>
        </label>
        <button>GET Method</button>
    </form>
    <form action="/entered_post" method="post">
        <label>
            data:
            <input type="text" required name="data"/>
        </label>
        <button>POST Method</button>
    </form>
</body>
</html>
